body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px; 
    left: 15px;
    width: 175px; 
    height: auto; 
}

button {
    background-color: rgb(66,183,42); 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 24px;
}

.S4CSEA-button:hover{
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.S6CSEA-button:hover{
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.S6CSEB-button:hover{
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.S8CSEA-button:hover{
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fade-out {
    opacity: 0; /* Reduce opacity to fade out */
    transition: opacity 0.5s ease; 
}
